.biblioteca-juegos-container {
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.biblioteca-juegos-container h2 {
  font-size: 2.5em;
  color: #282c34;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.biblioteca-header-actions {
  text-align: right;
  margin-bottom: 30px;
}

.add-game-btn {
  padding: 12px 25px;
  font-size: 1.1em;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loading-message, .error-message, .no-games-message {
  text-align: center;
  padding: 20px;
  font-size: 1.1em;
  margin-top: 30px;
  border-radius: 8px;
}

.loading-message {
  color: #007bff;
  background-color: #e7f3ff;
  border: 1px solid #cce5ff;
}

.error-container {
  padding: 20px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 8px;
  margin-top: 30px;
}

.error-message {
  color: #dc3545;
  margin: 0;
}

.no-games-message {
  color: #6c757d;
  background-color: #e2e6ea;
  border: 1px solid #dae0e5;
}

.lista-juegos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las tarjetas */
  gap: 20px; /* Espacio entre las tarjetas */
  margin-top: 30px;
}

@media (max-width: 768px) {
  .biblioteca-juegos-container {
    padding: 15px;
    margin: 10px auto;
  }

  .biblioteca-juegos-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .biblioteca-header-actions {
    text-align: center;
    margin-bottom: 20px;
  }

  .add-game-btn {
    width: 100%;
    padding: 10px 15px;
  }

  .lista-juegos {
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .lista-juegos {
    flex-direction: column;
    align-items: center;
  }
}